* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    padding: 20px;
    text-align: center;
    background-color: #000000;
    color: white;
    width: 100%;
}

h1 {
    font-size: 2rem;
    color: #29c129;
}


.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 200px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    border-radius: 8px;
}

.product-card h2 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.product-card p {
    margin-bottom: 10px;
    color: #666;
}

.price {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}

button {
    padding: 5px 5px;
    background-color: #29c129;
    color: rgb(255, 244, 244);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #196919;
}

.b1{
    padding: 5px 5px;
    background-color: #333;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.b1:hover{
    background-color: #000000;
}

nav {
    margin: 0;
    padding: 0;
    background-color:#29c129;;
    color: #fff;
    text-align: center;
    width: 100%;
}

nav a {
    color: #000000;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
}

nav a:hover { 
    color: #196919;
}

.cart-icon {
    font-size: 34px;
    position: absolute;
    top: 20px;
    right: 100px;
    cursor: pointer;
    color: #29c129;
}

.cart-icon:hover{
    color: #196919;
}

.profile-icon{
    font-size: 34px;
    position: absolute;
    top: 20px;
    right: 175px;
    cursor: pointer;
    color: #29c129;
}

.profile-icon:hover{
    color: #196919;
 }


 .back-icon {
    font-size: 34px;
    position: absolute;
    top: 20px;
    right: 1475px;
    cursor: pointer;
    color: #29c129;
}

.back-icon:hover {
    color: #196919;
}

